<center><h1 style="background-color: #C6F3CD; border-radius: 10px; color: #FFFFFF; padding: 5px;">
Pandas Series </h1><center/>

**Link to the article** : https://medium.com/@soulawalid/introduction-to-pandas-series-da05236f92d7?sk=c8b967bd992cd6a1694d48fdc0f81f2f

In [1]:
import pandas as pd

## Creation

In [2]:
#List

data = [10, 20, 30, 40, 50]
series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [3]:
#Dictionary

data_dict = {'apple': 3, 'banana': 5, 'orange': 2}
series_dict = pd.Series(data_dict)
series_dict

apple     3
banana    5
orange    2
dtype: int64

In [4]:
#Numpy Array

import numpy as np

data_array = np.array([100, 200, 300])
series_array = pd.Series(data_array, index=['x', 'y', 'z'])
series_array

x    100
y    200
z    300
dtype: int32

In [5]:
# Scalar

series_scalar = pd.Series(5, index=['a', 'b', 'c', 'd'])
series_scalar

a    5
b    5
c    5
d    5
dtype: int64

---

## Indexing & Filter

In [6]:
data = [10, 20, 30, 40, 50]
series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])

series['a']  # Output: 10

10

In [7]:
# Access by position
series[1:4]  # Output: b    20, c    30, d    40

b    20
c    30
d    40
dtype: int64

In [8]:
series[series > 20]

c    30
d    40
e    50
dtype: int64

## Arithmetic Operations

In [9]:
print(series * 2)

a     20
b     40
c     60
d     80
e    100
dtype: int64

In [10]:
print(series / 2)

a     5.0
b    10.0
c    15.0
d    20.0
e    25.0
dtype: float64

## Methods

In [11]:
series.sum(), series.mean()

(150, 30.0)

## Custom Functions

In [12]:
series.apply(lambda x: x * 2)

a     20
b     40
c     60
d     80
e    100
dtype: int64

## Values and Sorting

In [13]:
series = pd.Series(['apple', 'banana', 'apple', 'orange'])
series.unique()

array(['apple', 'banana', 'orange'], dtype=object)

In [14]:
series.sort_values()

0     apple
2     apple
1    banana
3    orange
dtype: object

In [15]:
series.sort_values(ascending=False)

3    orange
1    banana
0     apple
2     apple
dtype: object

## DataFrames

In [16]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 32, 18], 
        'Score': [85, 90, 88]}

df = pd.DataFrame(data)
df

      Name  Age  Score
0    Alice   25     85
1      Bob   32     90
2  Charlie   18     88

In [17]:
age_series = df['Age']
age_series

0    25
1    32
2    18
Name: Age, dtype: int64

In [18]:
df['Age_Squared'] = age_series.apply(lambda x: x ** 2)
df

      Name  Age  Score  Age_Squared
0    Alice   25     85          625
1      Bob   32     90         1024
2  Charlie   18     88          324